.main-container {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  color: white;
  width: auto;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center; /* Centraliza o conteúdo do formulário */
}

h3 {
  margin-top: 2.5em;
}

.container {
  display: flex;
  gap: 2em;
  background-color: #1a4173;
  width: 52em;
  justify-content: center;
  align-items: center;
  padding: 2em;
  border-radius: 10px;
}

.container-item {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
}

button {
  width: 15em;
  height: 2em;
  margin-top: 2.5em;
  background-color: #1a4173;
  border-radius: 1em;
  color: white;
}

.container-notas {
  display: flex;
  flex-direction: column;
  background-color: #1a4173;
  gap: 0.5em;
  padding: 1em;
  border-radius: 1em;
  width: 22em;
}

.container-item-notas {
  display: flex;
  flex-direction: column;
}

.content-notas {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  padding: 0 5em;
  justify-content: center; /* Centraliza as notas adicionadas */
  align-items: center; /* Garante que as notas fiquem alinhadas verticalmente */
  width: 100%; /* Faz o conteúdo ocupar toda a largura disponível */
}

.container-content {
  display: flex;
  justify-content: space-between; /* Espaça igualmente os itens dentro das notas */
  width: 100%; /* Faz os itens ocuparem toda a largura disponível */
}

.input {
  width: 10em;
}
.container-parcelas {
  display: flex;
  gap: 2em;
  background-color: #1a4173;
  width: 25em;
  justify-content: center;
  align-items: center;
  padding: 2em;
  border-radius: 10px;
}