{% extends 'base.html' %}
{% block title %}
<title>Cadastros - {{ empresa }}</title>
<style>
.options{
  width: 10em;
  height: 1.5em;
  background-color: white;
  color: black;
  border: 2px solid transparent;
  border-radius: 10px;  /* Bordas arredondadas */
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, border 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 }
 .options:hover{
  background-color: #f0f0f0;  /* Cor de fundo ao passar o mouse */
  transform: scale(1.05);  /* Efeito de crescimento ao passar o mouse */
  border: 2px solid #007BFF;  /* Borda azul ao passar o mouse */
 }
 main{
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100vw;
  height: 100vh;
 }
 .container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
 }
</style>
{% endblock %}

{% block main %}
<main>
  <div class="container">
      <h3>Cadastro em Gastos<h3>
      <a href="/cadastros/fornecedor"><button class="options">Fornecedor</button></a>
      <a href="/cadastros/despesas"><button class="options">Despesas</button></a>
      <a href=""></a>
  </div>
  <div class="container">
    <h3>Cadastro Faturamento</h3>
    <a href="/cadastros/companhias"><button class="options">Companhias</button></a>
    <a href="/cadastros/funcionarios"><button class="options">Funcionarios</button></a>
    <a href="/cadastros/baterias"><button class="options">Baterias</button></a>
    <a href="/cadastros/oleos"><button class="options">Oleos</button></a>
  </div>
  <br>
  
</main>

{% endblock %}