{% extends 'base.html' %}
{% block title %}
<title>Cadastrar Nota - {{ empresa }}</title>
<link rel="stylesheet" href="{{url_for('static', filename= 'css/cadastrar_nota.css')}}">
{% endblock %}
{% block main %}
<main>
    {% set mensagens = get_flashed_messages() %}
    {%if mensagens%}
    <div>
        {%for msg in mensagens%}
        {{msg}}
        {%endfor%}
    </div>
    {%endif%}
    <form class="cadastro-nota" action="/gastos/cadastros/notas-cadastrar-nota" method="post">
        <div class="form-row">
            <div class="form-group">
                <label for="emitido-para">Emitido Para:</label>
                <select id="emitido-para" name="emitido-para">
                    {%for pessoa in emitido_para%}
                    <option value="{{pessoa}}">{{pessoa}}</option>
                    {%endfor%}
                </select>
            </div>

            <div class="form-group">
                <label for="status">Status:</label>
                <select id="status" name="status">
                    <option value="PENDENTE">PENDENTE</option>
                    <option value="PAGO">PAGO</option>
                    <option value="DEVOLVIDO">DEVOLVIDO</option>
                </select>
            </div>

            <div class="form-group">
                <label for="boleto">Boleto:</label>
                <select id="boleto" name="boleto">
                    <option value="Sim">Sim</option>
                    <option value="Não">Não</option>
                </select>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group">
                <label for="nota">Nota:</label>
                <input type="text" id="nota" name="nota">
            </div>

            <div class="form-group">
                <label for="duplicata">Duplicata:</label>
                <input type="text" id="duplicata" name="duplicata">
            </div>

            <div class="form-group">
                <label for="fornecedor">Fornecedor:</label>
                <select id="fornecedor" name="fornecedor">
                    {%for fornecedor in fornecedores%}
                    <option value="{{fornecedor}}">{{fornecedor}}</option>
                    {%endfor%}
                </select>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group">
                <label for="emissao">Emissão:</label>
                <input type="date" id="emissao" name="emissao">
            </div>

            <div class="form-group">
                <label for="valor">Valor:</label>
                <input type="text" id="valor" name="valor">
            </div>

            <div class="form-group">
                <label for="despesa">Despesa:</label>
                <select id="despesa" name="despesa">
                    {%for despesa in despesas%}
                    <option value="{{despesa}}">{{despesa}}</option>
                    {%endfor%}
                </select>
            </div>
        </div>
        <fieldset>
            <legend style="color: white;">Observações</legend>
            <textarea name="obs" id="obs" cols="100" rows="5"></textarea>
        </fieldset>
        <div class="form-row">
            <div class="form-group">
                <button type="submit">Cadastrar Nota</button>
            </div>
        </div>
    </form>
</main>

{% endblock %}