{% extends 'base.html' %}
{% block title %}
<title>Cadastros - {{ empresa }}</title>
{% endblock %}

{% block main %}
<main>
  <h3>Cadastro em Gastos<h3>
  <a href="/cadastros/fornecedor">Fornecedor</a>
  <a href="/cadastros/despesas">Despesas</a>
  <a href=""></a>
  <br>
  <h3>Cadastro Faturamento</h3>
  <a href="/cadastros/companhias">Companhias</a>
  <a href="/cadastros/funcionarios">Funcionarios</a>
  <a href="/cadastros/baterias">Baterias</a>
  <a href="/cadastros/oleos">Oleos</a>
</main>

{% endblock %}