{% extends 'base.html' %}
{% block title %}
<title>Inicio - {{ empresa }}</title>
<link rel="stylesheet" href="{{url_for('static', filename= 'css/cadastrar_duplicata.css')}}">
{% endblock %}

{% block main %}
<main class="main-container">
    <h1>Cadastrar Duplicata</h1>
    <form id="duplicataForm" method="POST" action="/cadastrar_duplicata">
        <div class="container">
            <h3>Notas</h3>
            <div class="container-item">
                <label for="numeroDuplicata">Número da Duplicata:</label>
                <input type="text" id="numeroDuplicata" name="numeroDuplicata" required class="form-control">
            </div>
            <div class="container-item">
                <label for="quantidadeNotas">Quantidade de Notas:</label>
                <input type="number" id="quantidadeNotas" name="quantidadeNotas" min="1" required>
            </div>
            <button type="button" onclick="gerarCamposNotas()">Gerar Campos para Notas</button>
        </div>
        <div id="camposNotas" class="content-notas"></div>
        <div class="container">
            <h3>Parcelas</h3>
            <div class="container-item">
                <label for="quantidadeParcelas">Quantidade de Parcelas:</label>
                <input type="number" id="quantidadeParcelas" name="quantidadeParcelas" min="1" required>
            </div>
            <button type="button" onclick="gerarCamposParcelas()">Gerar Campos para Parcelas</button>
        </div>

        <div id="camposParcelas" class="content-notas"></div>
        <button type="submit">Cadastrar Duplicata</button>
    </form>
</main>

<script>
    function gerarCamposNotas() {
        const quantidadeNotas = document.getElementById('quantidadeNotas').value;
        const camposNotas = document.getElementById('camposNotas');
        camposNotas.innerHTML = '';

        for (let i = 1; i <= quantidadeNotas; i++) {
            const campoNota = document.createElement('div');
            campoNota.className = 'nota-item card';
            campoNota.innerHTML = `
                    <h3 class="nota">Nota ${i}</h3>
                    <div class="container-notas">
                        <div class="container-content">
                            <div class="container-item-notas">
                                <label class="label_notas" for="numeroNota${i}">Nota:</label>
                                <input type="text" id="numeroNota${i}" name="numeroNota[]" required class="input" onchange="puxarInformacoesNota(${i})">
                            </div>
                            <div class="container-item-notas">
                                <label class="label_notas" for="fornecedorNota${i}">Fornecedor:</label>
                                <input type="text" id="fornecedorNota${i}" name="fornecedorNota[]" readonly class="input">
                            </div>
                        </div>
                        <div class="container-content">
                            <div class="container-item-notas">
                                <label class="label_notas" for="dataEmissaoNota${i}">Emissão:</label>
                                <input type="text" id="dataEmissaoNota${i}" name="dataEmissaoNota[]" readonly class="input">
                            </div>
                            <div class="container-item-notas">
                                <label class="label_notas" for="valorNota${i}">Valor:</label>
                                <input type="text" id="valorNota${i}" name="valorNota[]" readonly class="input">
                            </div>
                        </div>
                    </div>
                `;
            camposNotas.appendChild(campoNota);
        }
    }

    function puxarInformacoesNota(i) {
        const numeroNota = document.getElementById(`numeroNota${i}`).value;

        fetch(`/api/nota/${numeroNota}`)
            .then(response => response.json())
            .then(data => {
                if (!data.error) {
                    document.getElementById(`fornecedorNota${i}`).value = data.fornecedor;
                    document.getElementById(`dataEmissaoNota${i}`).value = data.data_emissao;
                    document.getElementById(`valorNota${i}`).value = data.valor;
                } else {
                    alert(data.error);
                }
            })
            .catch(error => console.error('Erro ao buscar informações da nota:', error));
    }

    function gerarCamposParcelas() {
        const quantidadeParcelas = document.getElementById('quantidadeParcelas').value;
        const camposParcelas = document.getElementById('camposParcelas');
        camposParcelas.innerHTML = '';

        for (let i = 1; i <= quantidadeParcelas; i++) {
            const campoParcela = document.createElement('div');
            campoParcela.className = 'parcela-item card';
            campoParcela.innerHTML = `
                    <h5 class="nota">Parcela ${i}</h5>
                    <div class="container-parcelas">
                        <div class="container-item-notas">
                            <label for="valorParcela${i}">Valor:</label>
                            <input type="text" id="valorParcela${i}" name="valorParcela${i}" required class="input">
                        </div>
                        <div class="container-item-notas">
                            <label for="vencimentoParcela${i}">Vencimento:</label>
                            <input type="date" id="vencimentoParcela${i}" name="vencimentoParcela${i}" required class="input">
                        </div>
                    </div>
                `;
            camposParcelas.appendChild(campoParcela);
        }
    }
</script>
{% endblock %}