{% extends 'base.html' %}
{% block title %}
<title>Consultas - {{ empresa }}</title>
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        color: #333;
        line-height: 1.6;
    }

    .container {
        max-width: 1200px;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }

    h1,
    h2 {
        color: #555;
    }

    form {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 20px;
    }

    label {
        margin-right: 5px;
    }

    input[type="date"],
    select,
    button {
        margin-right: 10px;
        padding: 8px;
        border: 1px solid #ddd;
        border-radius: 3px;
        font-size: 14px;
    }

    button {
        background-color: #007bff;
        color: #fff;
        border: none;
        cursor: pointer;
        padding: 10px 20px;
        border-radius: 3px;
    }

    button:hover {
        background-color: #0056b3;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    th,
    td {
        padding: 10px;
        border: 1px solid #ddd;
        text-align: left;
    }

    th {
        background-color: #f4f4f4;
    }

    tbody tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    .flex-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .flex-item {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        align-items: center;
    }

    .pagination-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 20px;
        flex-wrap: wrap;
    }

    .pagination-container a,
    .pagination-container span {
        padding: 8px 12px;
        border: 1px solid #ccc;
        border-radius: 3px;
        text-decoration: none;
        color: #333;
        transition: background-color 0.3s ease;
    }

    .pagination-container a:hover {
        background-color: #f0f0f0;
    }

    .pagination-container .active {
        background-color: #007bff;
        color: #fff;
        border-color: #007bff;
    }

    .pagination-container .disabled {
        pointer-events: none;
        color: #ccc;
    }
    .infos{
        display: flex;
        gap: 5em;
    }
    .infos_itens{
       
    }
</style>
{% endblock %}

{% block main %}
<main>
    <div class="container">
        <h1>Consultas de Faturamentos</h1>
        <div class="infos">
            <div class="infos_item">
                <h4>Total</h4>
                <h4>{{valor}}</h4>
            </div>
        </div>
        <div class="flex-container">
            <div class="flex-item">
                <h2>OS Dinheiro</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Placa</th>
                            <th>Modelo Veículo</th>
                            <th>Data Orçamento</th>
                            <th>Data Faturamento</th>
                            <th>Dias de Serviço</th>
                            <th>Número OS</th>
                            <th>Companhia</th>
                            <th>Valor Peças</th>
                            <th>Valor Serviços</th>
                            <th>Total OS</th>
                            <th>Valor Dinheiro</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for faturamento in faturamentos %}
                        <tr>
                            <td>{{ faturamento['placa'] }}</td>
                            <td>{{ faturamento['modelo_veiculo'] }}</td>
                            <td>{{ faturamento['data_orcamento'] }}</td>
                            <td>{{ faturamento['data_faturamento'] }}</td>
                            <td>{{ faturamento['dias_servico'] }}</td>
                            <td>{{ faturamento['numero_os'] }}</td>
                            <td>{{ faturamento['companhia'] }}</td>
                            <td>{{ faturamento['valor_pecas'] }}</td>
                            <td>{{ faturamento['valor_servicos'] }}</td>
                            <td>{{ faturamento['total_os'] }}</td>
                            <td>{{ faturamento['valor_em_dinheiro'] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock %}