{% extends 'base.html' %}
{% block title %}
<title>Inicio - {{ empresa }}</title>
<link rel="stylesheet" href="{{url_for('static', filename= 'css/home.css')}}">
{% endblock %}

{% block main %}
<main>
  <h4>Faturamento</h4>
    <div class="box-container">
      <div class="box box1">
          <div class="text">
              <h2 class="topic-heading">{{faturamento}}</h2>
              <h2 class="topic">Faturamento Mês</h2>
          </div>
      </div>

      <div class="box box2">
          <div class="text">
              <h2 class="topic-heading">{{faturamento_meta}}</h2>
              <h2 class="topic">Meta</h2>
          </div>
      </div>
  
    <div class="box box7">
        <div class="text">
            <h2 class="topic-heading">{{ticket}}</h2>
            <h2 class="topic">Ticket Medio</h2>
        </div>
    </div>

    <div class="box box8">
        <div class="text">
            <h2 class="topic-heading">{{passagens}}</h2>
            <h2 class="topic">Passagens</h2>
        </div>
    </div>
    </div>

    </div>
</main>

{% endblock %}